
<html>
<head>
<title>Plant Disease Detection</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body background="static/back.jpg">

<p><h1 align="center" style="color:tomato">Plant Disease detection</h1></p>
<div class="container">
<div class="row">
    <h2 style="color:azure">Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    U7</p>

    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <div align="center">
                <input type="submit" value="Submit" class="btn btn-info">
            </div>
        </p>
    </form>
</div>
</div>
 {% if filename %}
        <div>
            <h2 align="center" style="color:Azure"> Image uploaded successfully </h2>
            <div align="center">
            <a href="predict" class="btn btn-primary" role="button">Image Analysis</a>
            </div>
        </div>
    {% endif %}
</body>
</html>